body {
  background-color: rgba(167, 167, 167, 0.1);
  overflow-x: hidden;
}

.btn {
  background: none !important;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn:hover {
  color: rgba(0, 0, 0, 0.986);
}
.navbar_main {
  background-color: rgb(255, 255, 255);
}

.nav-link,
.navbar-brand,
.container__name {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar-brand {
  font-size: 25px;
}

.container__main {
  background-image: linear-gradient(
    rgba(167, 167, 167, 0.103),
    rgba(255, 255, 255, 0.089)
  ) !important;
  margin-top: 100px;
  width: 900px;
  height: 400px;
  display: flex;
  object-fit: contain;

  align-items: center !important;
  border-radius: 20px;
}

.index__img {
  width: 500px;
  height: 350px;
}

.container__btns {
  display: flex;
  justify-content: center;
}

.container__name {
  font-size: 30px;
  text-align: center;
  text-shadow: 1px 1px;
}

.btn_main {
  display: flex;

  align-self: center;
  flex-direction: column;
}

.table {
  background-color: rgb(255, 255, 255);
  border-color: black;
}

.form__transfer__to {
  margin-top: 60px !important;
}

.form__label {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.form__option {
  width: 800px !important;
  float: right;
}

.form__amount {
  margin-top: 60px;
}
